<!--content-->
<section class="content">
  <div class="error-page">
    <div class="error-content">
      <h2><%= fa_icon "warning" , :class=>"text-yellow" %> Oops! Page not found.</h2>
      <p>
        We could not find the page you were looking for.<br>
        Meanwhile, you may <%=link_to root_path ,:title=>"Home page" do %> return to home page <% end %> or this page will redirect you automatically .
      </p>
    </div><!-- /.error-content -->
  </div><!-- /.error-page -->
</section><!--content-->
