<!--content-->
<div class="content text-center">
  <%= image_tag("astm.jpg",:alt=>"User Image" , :title=>"", :class=>"user-image")%>
  <br>
  Welcome in my simple dashboard layout ,
  to open it please click <%=link_to dashboard_path do %> here <% end %>
</div> <!--content-->
