/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require font-awesome
 *= require_self
 */

 body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1.42857143;
 }

.content {
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  min-height: 250px;
}

.error-page {
  margin: 20px auto 0 auto;
  width: 50%;
  min-width: 325px;
  border: solid 1px #c8ced6;
  background-color: #ECF0F5;
}

.error-page>.error-content {
  padding: 10px 25px;
}

.error-page>.error-content>h3 {
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: 300;
  font-size: 25px;
}

.error-page>.error-content a{
  text-decoration: none;
  color: #537198;
}

.error-page>.headline {
  float: left;
  font-size: 100px;
  font-weight: 300;
}

.text-yellow {
  color: #f39c12 !important;
}
